<div class="image-view">
    <li>{{@label}}</li>
    <li class="left-images">{{@path}}</li> 
    <LinkTo @route="Preview-Image" @model={{@imaged}}><img class="img-thumbnail" src={{this.imageSrc}} alt={{@label}} {{on "click" this.changePath}} /></LinkTo>
    <p>{{imagePath}}</p>
</div>

